* html body { 
  /* IE6 behavior must be in HEAD */
  /* http://www.xs4all.nl/~peterned/csshover.html */
  behavior:url("csshover.htc");
}

ul { 
  list-style: none; 
  margin: 0;
}

li { 
  display: inline; 
  position: relative;
}

li a {
  text-decoration: none;
  color: blue;
}


li ul {
  position: absolute;
  left: 0px;
  top: 25px;
  display: none;
  padding-left: 5px;	
  padding-top: 5px;
}

li li {
  display: block;
}

li:hover ul, li ul:hover {
  display: block;
}

li li:hover a {
  color: blue;
  border-bottom: 1px solid blue;
}

