.cut {
    border-bottom: 1px dashed gray;
}

code {
    font-family: Consolas, "Lucida Console", "Courier New", courier, monospace;
    background-color: #f5fffa;
}

a code {
    text-decoration: underline;
}

h2 a code, h3 a code, h4 a code {
    text-decoration: none;
}

h2 a:hover code, h3 a:hover code, h4 a:hover code {
    text-decoration: none;
}

body {
    color: #333;
    padding: 0;
    margin: 0 auto;
    width: 100%;
    font-family: Arial, Georgia, Tahoma, sans-serif;
    font-size: 14px;
    line-height: 1.5;
}

.format-error {
    color: red;
    font-size: 120%;
}

.table-bordered td, .table-bordered th {
    border: 1px solid black;
    padding: 5px;
}


#content-container ul {
    list-style-image: url(images/liarrow.png);
}

#content-container ol {
    list-style-image: none;
}

.make-it-center {
    margin: auto;
    height: auto;
    width: 1000px;
}

.clear {
    clear: both;
    font-size: 0px;
    line-height: 0px;
    visibility: collapse;
}

a {
    color: #39c;
}

a:visited {
    color: #39c;
}

a:hover {
    color: red;
}

p {
    margin-top: 10px;
    margin-bottom: 10px;
}

/** headers **/
h1, h2, h3, h4, h5, h6 {
    line-height: normal;
    font-weight: normal;
    font-family: Tahoma, sans-serif;
}

h1, h1.title, h2, h2.title {
    color: #A00;
    font-family: Helvetica;
    font-weight: normal;
    margin-bottom: 14px;
}

h2 a, h3 a, h4 a, h2 a:visited, h3 a:visited, h4 a:visited {
    color: #c43;
    text-decoration: none;
    font-weight: bold;
    /*	border-bottom: 1px dashed #f99;*/
}

h2 a:hover, h3 a:hover, h4 a:hover {
    color: #f00;
    text-decoration: underline;
}

.read-more a {
    text-decoration: none;
}

.read-more a:hover {
    text-decoration: underline;
}

.toc.toc-teaser a {
    text-decoration: none;
    /*	font-size: 0.875em;*/
    line-height: 1.1;
}



/* .column-1 .block h2, .column-1 .block h2.title{background-color:#b6b5b5; } */

h3 {
    border-bottom: 1px solid #999;
    margin-bottom: 3px;
    font-size: 1.3em;
}

h4 {
    font-size: 1.1em;
    border-bottom: 1px solid #999;
    margin-bottom: 3px;
}

.clear-both {
    clear: both;
}

table {
    width: 100%;
}

table td {
    padding: 2px 5px;
}

.content li {
    margin-bottom: 2px;
}

.content form li {
    margin-bottom: 0;
}


.toc {
    border: 1px solid #CCCCCC;
    font-size: 90%;
    max-width: 300px;
    
    margin:  1px;
    padding-top: 5px;
    padding-bottom: 5px;
}


.toc-teaser, * html .toc-teaser {
    float: left;
    max-width: 250px;
    width: 250px;
}

.toc ol {
    list-style-position: outside;
    margin: 5px;
    padding-left: 25px;
}

/* smart info indent */
.smart {
    background: no-repeat url(images/smart.gif);
    background-position: 10px 10px;
    margin: 20px;
    padding-top: 10px;
    padding-left: 60px;
    padding-right: 10px;
    padding-bottom: 10px;
    border: 1px green dashed;
}

/* can't use system warning */
.danger, .warn {
    background: no-repeat url(images/danger.png);
    background-position: 10px 10px;
    margin: 20px;
    padding-top: 10px;
    padding-left: 60px;
    padding-right: 10px;
    padding-bottom: 10px;
    border: 1px green dashed;
}

/* smart info indent */
.ponder {
    background: no-repeat url(images/ponder.gif);
    background-position: 10px 10px;
    margin: 20px;
    padding-top: 10px;
    padding-left: 60px;
    padding-right: 10px;
    padding-bottom: 10px;
    border: 1px green dashed;
}

/* smart info indent */
.learning-task {
    background: no-repeat url(images/task.png);
    background-position: 10px 10px;
    margin: 30px 10px;
    padding-top: 10px;
    padding-left: 65px;
    padding-right: 10px;
    padding-bottom: 15px;
    border: 1px green dashed;
    position: relative;
}

.task-meta {
    position:absolute;
    right:2px;
    bottom: 2px;
    display: block;
}

.smart-header, .warn-header, .ponder-header {
    font-size: 120%;
}

dt {
    font-weight: bold;
}

.sum {
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    background-color: #FFFFFF;
    border: 2px solid #DD9999;
    clear: both;
    color: #000;
    display: block;
    font-style: normal;
    margin: 25px 0;
    padding: 1em 2em 1em;
}

.teaser-with-toc {
    margin-left: 250px;
}

cite {
    border: 1px solid #ebebeb;
    background-color: #fcfcfa;
    color: #717171;
    font-style: italic;
    clear: both;
    padding: 1em 1em 0.5em 1em;
    margin: 0.2em 0;
    display: block;
}

.learning-task-solution-header, .learning-task-hint-header {

    border-bottom: 1px solid #999999;
    font-size: 1.3em;
    margin-bottom: 3px;
}

.balance {
    background: no-repeat url(images/balance.png);
    background-position: 10px 10px;
    margin: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 90px;
    padding-right: 10px;
    border: 1px green dashed;
}

.list-plus, .balance .plus {
    color: darkgreen;
}

.list-minus, .balance .minus {
    color: darkred;
}

.see-also-header {
    font-size: 125%;
}

.tutorial-tasks {
    display: none;
}

.tutorial-tasks li {
    font-size: 80%;
}

/* for regexps */
code.pattern {
    border-bottom: 1px solid red;
}

code.subject {
    border-bottom: 1px solid blue;
}

code.match {
    border-bottom: 1px solid green;
}

table.bordered td {
    border: 1px solid #ccc;
}

/* book contents */
.book-level-1 {
    margin-bottom: 5px;
    font-family: Georgia;
}

.book-level-1 ol.book-items {
    display: none;
}

.book-level-1.book-open {
    margin-bottom: 20px;
}

.book-level-1.book-open ol.book-items {
    display: block;
}

.book-level-1 .book-title {
    font-size: 20px;
}

.book-level-2 a {
    font-weight: normal;
    font-size: 14px;
}

.tree-closed {
    padding-left: 18px;
    background: left center no-repeat url("images/tree_closed.gif")
}

.tree-item {
    padding-left: 18px;
    background: left center no-repeat url("images/tree_item.gif")
}

/* .. book contents */

/* tasks and other blocks */


.example-title {
	font-size: 120%;
	font-weight: bold;
	margin: 5px;
}

.example-body {
 	padding-left: 20px;
}

.example {
	margin-top: 20px;
}



.task-section-open {
  background-color:#Fa6;
  cursor: pointer;
  display: block;
  width: 150px;
  font-size: 16px;
  padding: 5px;
  border: 1px solid black;
  text-align: center;
  margin: 10px;
}

.task-section {
  display: none;
}

.task-header {
	border-bottom: 2px groove #c3c3c3;
}

/* .. tasks and other blocks */