.example_path {
	position: relative;
	overflow: hidden;
	width: 530px;
	height: 30px;
	border: 3px solid #000;
}

.example_path .example_block {
	position: absolute;
	background-color: blue;
	width: 30px;
	height: 20px;
	padding-top: 10px;
	text-align: center;
	color: #fff;
	font-size: 10px;
	white-space: nowrap;
}
